<html>
	<head>
		<title>Marvin APP</title>
		<meta charset="utf-8">
		<style>
			html {
				background-color: FCECC9;
			}
			
			body {
				font-family: "Poppins", sans-serif;
				height: 100vh;
				text-align: center;
				color: 4D6BA8;
				font-weight: 400;
				font-size: larger;
			}
			
			a {
				color: FCB0B3;
				display:inline-block;
				text-decoration: none;
				font-weight: 400;
				font-size: x-large;
			}
			
			
			
			.wrapper {
				display: flex;
				align-items: center;
				flex-direction: column; 
				justify-content: center;
				width: 100%;
				min-height: 100%;
				padding: 20px;
			}
			
			#formContent {
				-webkit-border-radius: 10px 10px 10px 10px;
				border-radius: 10px 10px 10px 10px;
				background: #fff;
				padding: 30px;
				width: 90%;
				max-width: 450px;
				position: relative;
				padding: 0px;
				-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
				box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
				text-align: center;
			}
			
			#formFooter {
				background-color: #f6f6f6;
				border-top: 1px solid #dce8f1;
				padding: 25px;
				text-align: center;
				-webkit-border-radius: 0 0 10px 10px;
				border-radius: 0 0 10px 10px;
			}
			
			
			
			
			
		</style>
	</head>
	<body>
		<div class="content text-center">
			<h1>Marvin Events App</h1>
			<p>by Antmarti</p>
			<br></br>
		</div>
		<center>
			<div >
				<div id="formContent">
					<div >
					</div>
					<form>
						<a href="https://api.intra.42.fr/oauth/authorize?client_id=27e26fc13d467d3bdbca743c830c0562830e1d7da9b991d50dd5b9f0fc951111&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fcallback&response_type=code">Log in</button></a></br></br>
					</form>
					<div id="formFooter">
					<p > Events listing webpage </p>
					</div>
				</div>
			</div>
		</center>
	</body>
</html>
